a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
}

h1 {
  color: #0073e6;
  background-color: #03080a;
}
.denzin {
    background-color: #03080a;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  
  float: left;
}

li a {
  display: block;
  color: #0073e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.about {
    float: right;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
